@keyframes fadeIn{
    from{
        opacity: 0;
        transform:translateY(-20px);
    }

    to{
        opacity: 1;
        transform:translateY(0);
    }
}

.animate-fade-in{
    animation:  fadeIn 2s ease-out;
}

html{
    scroll-behavior:smooth;
    
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Para usar o estilo negrito */
}

p, a, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Estilo normal */
}